<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Книга {{book.title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>

<body>
    <main class="main detail">
        <div class="cover-image">
            <img src="{{ book.image.url }}"/>
        </div>
        <div class="book-content">
            <h2 class="book-content__title">
                {{ book.title }}
            </h2>
            <div class="book-content-main">
                <ul class="book-content-main-list">
                    <li class="book-content-main-list-item">
                        <h3>Описание:</h3>
                        <div>
                            {{book.description}}
                        </div>
                    </li>
                    <li class="book-content-main-list-item">
                        <h3>Рейтинг:</h3>
                        <div class="rating-value">
                            <img
                                src="{% static 'icons/yellow-star.svg' %}"
                                alt="rating star"
                                width="32"
                            />
                            <span>
                                {{book.rating}}
                            </span>
                        </div>
                    </li>
                    <li class="book-content-main-list-item">
                        <h3>Год выпуска:</h3>
                        <div>
                            {{book.year}}
                        </div>
                    </li>
                </ul>
                <a class="book-detail-link" href="/books">
                    Назад
                </a>
            </div>
        </div>
    </main>
</body>

</html>